# EditorConfig is awesome: https://EditorConfig.org

root = true

# All files
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# JavaScript files
[*.{js,jsx}]
indent_style = space
indent_size = 2
max_line_length = 80

# TypeScript files
[*.{ts,tsx}]
indent_style = space
indent_size = 2

# JSON files
[*.json]
indent_style = space
indent_size = 2

# Markdown files
[*.md]
max_line_length = off
trim_trailing_whitespace = false

# CSS and SCSS files
[*.{css,scss}]
indent_style = space
indent_size = 2

# HTML files
[*.html]
indent_style = space
indent_size = 2
